.guestPopup {
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 83px 106px;
  h2 {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.4px;
    margin-bottom: 32px;
  }
  .Btns {
    button {
      margin-bottom: 25px;
    }
  }
}
.content {
  max-width: 220px;
}
