@import '../../../styles/variables';

*,
*:focus {
	outline: none;
}

.formItem {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	& input {
		width: 100%;
		display: block;
		height: 40px;
		line-height: 40px;
		background: transparent;
		border: solid 1px #ccc;
		border-radius: 4px;
		padding: 0 12px;
	}
	& input[type='password'] {
		font-size: 20px;
		letter-spacing: 5px;
	}
	& input:focus {
		border: 2px solid #707070;
	}
	& label {
		position: absolute;
		cursor: text;
		top: 12px;
		left: 12px;
		font-size: 12px;
		background: #fff;
		padding: 0 10px;
		color: $textGrey;
		transition: all 0.2s ease;
	}
	& input:focus + label,
	& input:valid + label {
		font-size: 11px;
		top: -5px;
		color: $textDark;
	}
	& i {
		position: absolute;
		top: 8px;
		right: 14px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 24px;
	}
	span {
		font-family: 'Roboto', sans-serif;
		color: $error;
		font-size: 12px;
		line-height: 20px;
	}
	&.error {
		input {
			border-color: $error;
		}
		label {
			color: $error !important;
		}
	}
}
