@import "../../styles/variables";

.filterBlock {
  display: flex;
  justify-content: center;
  gap: 0 22px;
  width: 100%;
  @include block;
  padding: 12px 27px;
  input,
  select {
    position: relative;
    height: 37px;
    background: #f9fafb;
    border: 1px solid #dedee0;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 14px;
    line-height: 26px;
    color: $textGrey;
    padding: 0 34px;
    width: 100%;
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 11px;
  }
  & .select {
    svg {
      right: 11px;
      left: unset;
    }
  }
}
.select,
.search {
  position: relative;
  width: 290px;
  cursor: pointer;
}
.select.sort {
  width: 182px;
}

select {
  appearance: none;
  outline: none;
  background-image: none;
  &::ms-expand {
    display: none;
  }
  option {
    background: #fff;
    &:hover {
      background: green;
    }
  }
}
