@import "../../styles/variables";

.form {
  width: 425px;
  width: 100%;
  @include popupContainer;
  padding: 40px 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  span {
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    color: $error;
    font-size: 14px;
    line-height: 22px;
  }
  h2 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 48px;
  }

  p {
    margin-right: auto;
    font-size: 12px;
    line-height: 20px;
    max-width: 278px;
    width: 100%;
    margin-bottom: 50px;
  }
}

.login {
  width: 100%;
  margin-top: 15px;
  @include popupContainer;
  padding: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  span {
    cursor: pointer;
    color: $orange;
  }
}

@media (max-width: 500px) {
  .form {
    width: auto;
  }
}
